.size-select {
  width: 20vw
}

.row {
  display: flex;
  width: 96%;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 2%;
}

.column {
  flex: 20%;

}

.description {
  width: 50%
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}